{% capture postAuthors %}{{ fzfneysekpthfcbx.author | default: site.author }}{% endcapture %}
{% capture postDatePublished %}{{ fzfneysekpthfcbx.date | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% capture postDateModified %}{{ fzfneysekpthfcbx.last_modified_at | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% assign postAuthor = site.data.authors[postAuthors] %}

<div class="h-feed home">
  <div style="display: none;">
    <p class="p-name">
      Blog (Last Post) :: {{ site.title | default: site.github.repository_name }}
    </p>
    <a class="u-url" href="{{ site.url }}{{ page.url }}" rel="me">{{ site.url }}{{ page.url }}</a>
  </div>
  <ul class="post-list">
    <li>
      <article class="h-entry">
        <div style="display: none;">
          <p class="p-name">
            {{ fzfneysekpthfcbx.title | escape }}
          </p>
          <p class="u-uid">
            {{ fzfneysekpthfcbx.url }}
          </p>
        </div>
        <span style="font-size: larger;">
          <a class="u-url" href="{{ site.url }}{{ fzfneysekpthfcbx.url }}" rel="me">{{ fzfneysekpthfcbx.title | escape }}</a>
        </span>
        <h6>
          <span style="float: right;">
            by {% if postAuthor.hyperlink.uri %}<a {% if postAuthor.hyperlink.hcard %}class="h-card p-author" {% endif %}href="{{ postAuthor.hyperlink.uri }}" {% if postAuthors != "jwds" %}{% if postAuthor.hyperlink.hcard %}rel="author" {% endif %}target="_blank"{% else %}rel="author me"{% endif %} title="{{ postAuthor.hyperlink.title | escape }}">{% endif %}<span {% if postAuthor.hyperlink.hcard != true %}class="p-author" {% endif %}style="font-size: larger;">{{ postAuthor.name | escape }}</span>{% if postAuthor.hyperlink.uri %}</a>{% endif %}{% if fzfneysekpthfcbx.comments %}<br />
            <a data-disqus-identifier="{{ fzfneysekpthfcbx.url }}" href="{{ site.url }}{{ fzfneysekpthfcbx.url }}#disqus_thread" rel="me" title=""></a>{% endif %}
          </span>
          Published:&nbsp; <time class="dt-published" datetime="{{ fzfneysekpthfcbx.date | date_to_xmlschema }}">{{ fzfneysekpthfcbx.date | date: "%d %B %Y @ %T %Z" }}</time><br />
          Updated:&nbsp; {% if postDatePublished != postDateModified %}<time class="dt-updated" datetime="{{ fzfneysekpthfcbx.last_modified_at | date_to_xmlschema }}">{{ fzfneysekpthfcbx.last_modified_at | date: "%d %B %Y @ %T %Z" }}</time>{% else %}N/A{% endif %}<br />
          Location:&nbsp; {% if fzfneysekpthfcbx.location %}<span class="h-geo p-location"><data class="p-altitude" value="{{ fzfneysekpthfcbx.location.altitude }}"></data><data class="p-latitude" value="{{ fzfneysekpthfcbx.location.latitude }}"></data><data class="p-longitude" value="{{ fzfneysekpthfcbx.location.longitude }}"></data><a href="{{ site.uri.googleMaps }}/{{ fzfneysekpthfcbx.location.latitude }},{{ fzfneysekpthfcbx.location.longitude }}" target="_blank" title="{{ fzfneysekpthfcbx.location.latitude }}, {{ fzfneysekpthfcbx.location.longitude }}">{{ fzfneysekpthfcbx.location.text }}</a></span>{% else %}N/A{% endif %}
        </h6>
        <blockquote class="p-summary">
          {{ fzfneysekpthfcbx.excerpt }}
        </blockquote>
        <div style="font-size: xx-small; text-align: right;">
          &nbsp;<br />
          <a href="{{ site.url }}{{ fzfneysekpthfcbx.url }}" rel="me">&hellip; Read More &hellip;</a>
        </div>
      </article>
    </li>
  </ul>
</div>
