{% capture postAuthors %}{{ fzfneysekpthfcbx.author | default: site.author }}{% endcapture %}
{% capture postDatePublished %}{{ fzfneysekpthfcbx.date | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% capture postDateModified %}{{ fzfneysekpthfcbx.last_modified_at | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% capture postWords %}{{ fzfneysekpthfcbx.content | number_of_words }}{% endcapture %}
{% assign postAuthor = site.data.authors[postAuthors] %}
{% assign postLocation = site.data.gps[fzfneysekpthfcbx.location] %}
{% if fzfneysekpthfcbx.tags contains "Sponsored" %}{% assign postSponsored = true %}{% else %}{% assign postSponsored = false %}{% endif %}

<div class="h-feed home">
  <div style="display: none;">
    <p class="p-name">
      Blog (Last Post) :: {{ site.title | default: site.github.repository_name }}
    </p>
    <a class="u-url" href="{{ site.url }}{{ page.url }}" rel="me">{{ site.url }}{{ page.url }}</a>
  </div>
  <ul class="post-list">
    <li>
      <article class="h-entry">
        <div style="display: none;">
          <p class="p-name">
            {{ fzfneysekpthfcbx.title | escape }}
          </p>
          <p class="u-uid">
            {{ fzfneysekpthfcbx.url }}
          </p>
        </div>
        <span style="font-size: larger;">
          {% if postSponsored %}
          <i aria-hidden="true" class="fa fa-money" style="float: right; margin-left: 10px;" title="Sponsored"></i>
          {% endif %}
          <a class="u-url" href="{{ site.url }}{{ fzfneysekpthfcbx.url }}" rel="me">{{ fzfneysekpthfcbx.title | escape }}</a>
        </span>
        <h6>
          <span style="float: right;">
            {{ postWords }} Word{% if postWords != 1 %}s{% endif %}<br />
            by {% if postAuthor.hyperlink.uri %}<a {% if postAuthor.hyperlink.hcard %}class="h-card p-author" {% endif %}href="{{ postAuthor.hyperlink.uri }}" {% if postAuthors != "jwds" %}{% if postAuthor.hyperlink.hcard %}rel="author external nofollow" {% endif %}target="_blank"{% else %}rel="author me"{% endif %} title="{{ postAuthor.hyperlink.title | escape }}">{% endif %}<span {% if postAuthor.hyperlink.hcard != true %}class="p-author" {% endif %}style="font-size: larger;">{{ postAuthor.name | escape }}</span>{% if postAuthor.hyperlink.uri %}</a>{% endif %}{% if fzfneysekpthfcbx.comments %}<br />
            <a data-disqus-identifier="{{ fzfneysekpthfcbx.disqusIdentifier }}" href="{{ site.url }}{{ fzfneysekpthfcbx.url }}#disqus_thread" rel="me" title=""></a>{% endif %}
          </span>
          Published:&nbsp; <time class="dt-published" datetime="{{ fzfneysekpthfcbx.date | date_to_xmlschema }}">{{ fzfneysekpthfcbx.date | date: "%d %B %Y @ %T %Z" }}</time><br />
          Updated:&nbsp; {% if postDatePublished != postDateModified %}<time class="dt-updated" datetime="{{ fzfneysekpthfcbx.last_modified_at | date_to_xmlschema }}">{{ fzfneysekpthfcbx.last_modified_at | date: "%d %B %Y @ %T %Z" }}</time>{% if fzfneysekpthfcbx.modifiedReason and fzfneysekpthfcbx.modifiedReason != blank %}&nbsp; <sup>{{ fzfneysekpthfcbx.modifiedReason | escape }}</sup>{% endif %}{% else %}N/A{% endif %}<br />
          Location:&nbsp; {% if fzfneysekpthfcbx.location and fzfneysekpthfcbx.location != blank%}<span class="h-geo p-location"><data class="p-altitude" value="{{ postLocation.altitude }}"></data><data class="p-latitude" value="{{ postLocation.dd.latitude }}"></data><data class="p-longitude" value="{{ postLocation.dd.longitude }}"></data><a href="{{ site.uri.googleMaps }}/{{ postLocation.dd.latitude }},{{ postLocation.dd.longitude }}" rel="external" target="_blank" title="Altitude: {{ postLocation.altitude }} Meters, Latitude: {{ postLocation.dd.latitude }}, Longitude: {{ postLocation.dd.longitude }}">{{ postLocation.text | escape }}</a></span>{% else %}N/A{% endif %}
        </h6>
        <blockquote cite="{{ site.url }}{{ fzfneysekpthfcbx.url }}" class="p-summary">
          {{ fzfneysekpthfcbx.excerpt }}
        </blockquote>
        <div style="font-size: smaller; text-align: right;">
          &nbsp;<br />
          <a href="{{ site.url }}{{ fzfneysekpthfcbx.url }}" rel="me">&hellip;&nbsp; Read More&nbsp; &hellip;</a>
        </div>
      </article>
    </li>
  </ul>
</div>
