<hr />
<p style="text-align: justify;">
  <span style="font-weight: bolder;">DISCLAIMER:</span>&nbsp;
  Neither the <a href="{{ site.url }}" rel="me" title="Forces.Army">forces.army</a> domain nor any of its sub-domains are associated with and/or sponsored by any national and/or international government agency or branch of the armed forces in any nation.
</p>
<hr />
<p class="credits" style="font-size: smaller; text-align: center;">
  <a href="{{ site.url }}/feed.xml" rel="me">Atom</a>&nbsp;
  &bull;&nbsp; <a href="{{ site.url }}/sitemap.xml" rel="me">Sitemap</a>
</p>
<div style="display: table; margin-left: auto; margin-right: auto; text-align: center;">
  <div style="display: table-cell; vertical-align: middle;">
    <script data-cfbadgeskin="dkblue" data-cfbadgetype="c" type="text/javascript">
      try {
        window.CloudFlare || function () {
          var a = window.document,
            b = a.createElement("script"),
            a = a.getElementsByTagName("script")[0];
          window.CloudFlare = [], b.type = "text/javascript", b.async = !0, b.src = "//ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js", a.parentNode.insertBefore(b, a)
        }(), CloudFlare.push(function (a) {
          a(["cloudflare/badge"])
        })
      } catch (a) {
        try {
          console.error("CloudFlare badge code could not be loaded. " + a.message)
        } catch (a) {}
      }
    </script>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    &nbsp;
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <a href="https://www.codacy.com/app/jwds1978/jwds1978-github-io?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=jwds1978/jwds1978.github.io&amp;utm_campaign=Badge_Grade" target="_blank" title="">
      <img alt="" height="20" src="https://api.codacy.com/project/badge/Grade/01f0aa87819f4ec2b25d05e1a70bb2bb" style="border: 0px; vertical-align: middle;" width="68" />
    </a>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    &nbsp;
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <img alt="IndieWebCamp" height="20" src="{{ site.assetsURI }}/naked/images/IndieWebCamp_1461x696.png" style="border: 0px; vertical-align: middle;" width="42" />
  </div>
</div>
<p style="text-align: center;">
  &nbsp;<br />
  &copy;2017 James W.D. Stewart.&nbsp;
  All rights reserved.
</p>
