<hr>
<p style="text-align: justify;">DISCLAIMER:&nbsp; Neither the <a href="{{ site.github.url }}" rel="me" title="Forces.Army">forces.army</a> domain nor any of its sub-domains are associated with and/or sponsored by any national and/or international government agency or branch of the armed forces in any nation.</p>
<hr>
<p class="credits" style="font-size: smaller; text-align: center;">
  <a href="{{ site.github.url }}/feed.xml" rel="me">Atom</a>&nbsp;
  &bull;&nbsp; <a href="{{ site.github.url }}/sitemap.xml" rel="me">Sitemap</a>
</p>
<p style="text-align: center;">&copy;2017 James W.D. Stewart.&nbsp; All rights reserved.</p>
