<hr />
<p style="text-align: justify;">
  <span style="font-weight: bolder;">DISCLAIMER:</span>&nbsp; Neither the <a href="{{ site.url }}" rel="me" title="Forces.Army">forces.army</a> domain nor any
  of its sub-domains are associated with and/or sponsored by any national and/or international government agency or branch of the armed forces in any nation.
</p>
<hr />
<p class="credits" style="font-size: smaller; text-align: center;">
  <a href="{{ site.url }}/feed.xml" rel="me" style="white-space: nowrap;" title="RSS Feed"><i aria-hidden="true" class="fa fa-rss-square"></i> Atom</a>&nbsp;
  &bull;&nbsp; <a href="{{ site.uri.disqus }}" rel="me" style="white-space: nowrap;" target="_blank" title="James W.D. Stewart :: Disqus"><i aria-hidden="true"
    class="fa fa-comments"></i> Comments</a>&nbsp;
  &bull;&nbsp; <a class="iubenda-black iubenda-embed" href="{{ site.uri.iubenda }}" rel="me" style="white-space: nowrap;" target="_blank"
    title="Privacy Policy"><i aria-hidden="true" class=""></i> Privacy Policy</a>&nbsp;
  &bull;&nbsp; <a href="{{ site.url }}/sitemap.xml" rel="me" style="white-space: nowrap;" title="Sitemap"><i aria-hidden="true" class="fa fa-sitemap"></i>
  Sitemap</a>&nbsp;
  &bull;&nbsp; <a href="{{ site.url }}/terms-and-conditions" rel="me" style="white-space: nowrap;" title="Terms and Conditions"><i aria-hidden="true"
    class="fa fa-gavel"></i> Terms and Conditions</a>
</p>
<div style="display: table; margin-left: auto; margin-right: auto; text-align: center;">
  <div style="display: table-cell; vertical-align: middle;">
    <script data-cfbadgeskin="dkblue" data-cfbadgetype="c" type="text/javascript">
      try {
        window.CloudFlare || function () {
          var a = window.document,
            b = a.createElement("script"),
            a = a.getElementsByTagName("script")[0];
          window.CloudFlare = [], b.type = "text/javascript", b.async = !0, b.src = "https://ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js", a.parentNode.insertBefore(b, a)
        }(), CloudFlare.push(function (a) {
          a(["cloudflare/badge"])
        })
      } catch (a) {
        try {
          console.error("CloudFlare badge code could not be loaded. " + a.message)
        } catch (a) {}
      }
    </script>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    &nbsp;
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <a href="https://indieweb.org" rel="external nofollow" target="_blank" title="IndieWeb"><img alt="IndieWebCamp" height="20"
      src="{{ site.uri.assets }}/naked/images/IndieWebCamp_42x20.png" style="border: 0px; vertical-align: middle;" width="42" /></a>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    &nbsp;
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <object data="https://travis-ci.org/jwds1978/jwds1978.github.io.svg?branch=source" style="border: 0px; vertical-align: middle;"
      type="image/svg+xml"></object>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    &nbsp;
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <a href="http://www.viglink.com/legal/disclosures/users?vgref=3421962&vgtag=badge" rel="external nofollow" target="_blank" title="VigLink"><img
      alt="Links Monetized by VigLink" height="31" src="{{ site.uri.assets }}/naked/images/VigLink_88x31.png" style="border: 0px; vertical-align: middle;"
      width="88" /></a>
  </div>
</div>
<p style="text-align: center;">
  &nbsp;<br />
  <img alt="" height="55"
    src="https://counter1.freecounterstat.com/private/counter.php?c=ygp5t4m8hc4hr6q7w6zscdaajts66n4w&coef=1&init_freecounterstat=0&lenght=9&library=library_counters&pv=0&type=001"
    style="border: 0px; vertical-align: middle;" width="405" />
</p>
<hr />
<p style="text-align: justify;">
  {{ site.copyright.full.html }}
</p>
