<span class="credits right">
  <a href="{{ site.url }}" rel="me">Home</a>&nbsp;
  <!--sse-->
  &bull;&nbsp; <a href="{{ site.url }}/about" rel="me">About</a>&nbsp;
  <!--/sse-->
  &bull;&nbsp; <a href="{{ site.url }}/blog" rel="me">Blog</a>&nbsp;
  <!--sse-->
  &bull;&nbsp; <a href="{{ site.url }}/contact" rel="me">Contact</a>&nbsp;
  <!--/sse-->
  &bull;&nbsp; <a href="{{ site.url }}/donation" rel="me">Donate</a>&nbsp;
  <!--sse-->
  &bull;&nbsp; <a href="{{ site.url }}/resume" rel="me">R&eacute;sum&eacute;</a>&nbsp;
  <!--/sse-->
  <!--sse-->
  &bull;&nbsp; <a href="{{ site.url }}/social" rel="me">Socialize</a>
  <!--/sse-->
</span>
