{% if vsnwscxxmumhwvawURL != "/blog/" and vsnwscxxmumhwvawURL != "/blog/categories/" and vsnwscxxmumhwvawURL != "/blog/tags/"%}
<style>
  .vgfrrjjgwxeyajsk {
    color: rgb(143, 200, 71);
  }
  .vgfrrjjgwxeyajsk:hover {
    color: #ffeb9b;
  }
</style>
{% endif %}
<span class="credits right">
  {% if vsnwscxxmumhwvawURL != "/" %}<a href="{{ site.url }}" rel="me" title="">Home</a>{% else %}<span style="color: rgb(143, 200, 71);">Home</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/about/" %}<a href="{{ site.url }}/about" rel="me" title="">About</a>{% else %}<span style="color: rgb(143, 200, 71);">About</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL == "/blog/" or vsnwscxxmumhwvawURL == "/blog/categories/" or vsnwscxxmumhwvawURL == "/blog/tags/" %}<span style="color: rgb(143, 200, 71);">Blog</span>{% else %}<a {% if vsnwscxxmumhwvawURL contains "/blog/" %}class="vgfrrjjgwxeyajsk" {% endif %}href="{{ site.url }}/blog" rel="me" title="">Blog</a>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/contact/" %}<a href="{{ site.url }}/contact" rel="me" title="">Contact</a>{% else %}<span style="color: rgb(143, 200, 71);">Contact</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/donation/" %}<a href="{{ site.url }}/donation" rel="me" title="">Donate</a>{% else %}<span style="color: rgb(143, 200, 71);">Donate</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/freelance/" %}<a href="{{ site.url }}/freelance" rel="me" title="">Freelance</a>{% else %}<span style="color: rgb(143, 200, 71);">Freelance</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/in-case-of-emergency/" %}<a href="{{ site.url }}/in-case-of-emergency" rel="me" style="white-space: nowrap;" title="">In Case of Emergency</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;">In Case of Emergency</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/resume/" %}<a href="{{ site.url }}/resume" rel="me" title="">R&eacute;sum&eacute;</a>{% else %}<span style="color: rgb(143, 200, 71);">R&eacute;sum&eacute;</span>{% endif %}&nbsp;
  <!--/sse-->
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/social/" %}<a href="{{ site.url }}/social" rel="me" title="">Socialize</a>{% else %}<span style="color: rgb(143, 200, 71);">Socialize</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/store/" %}<a href="{{ site.url | replace: 'https', 'http' }}/store" rel="me" title="">Store</a>{% else %}<span style="color: rgb(143, 200, 71);">Store</span>{% endif %}&nbsp;
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/the-regimental-prayer/" %}<a href="{{ site.url }}/the-regimental-prayer" rel="me" style="white-space: nowrap;" title="">The Regimental Prayer</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;">The Regimental Prayer</span>{% endif %}&nbsp;
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/the-suck/" %}<a href="{{ site.url }}/the-suck" rel="me" style="white-space: nowrap;" title="">The Suck</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;">The Suck</span>{% endif %}
</span>
