{% if vsnwscxxmumhwvawURL != "/blog/" and vsnwscxxmumhwvawURL != "/blog/categories/" and vsnwscxxmumhwvawURL != "/blog/tags/"%}
<style>
  .vgfrrjjgwxeyajsk {
    color: rgb(143, 200, 71);
  }
  .vgfrrjjgwxeyajsk:hover {
    color: #ffeb9b;
  }
</style>
{% endif %}
<span class="credits right">
  {% if vsnwscxxmumhwvawURL != "/" %}<a href="{{ site.url }}" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-home"></i> Home</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-home"></i> Home</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/about/" %}<a href="{{ site.url }}/about" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-id-badge"></i> About</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-id-badge"></i> About</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL == "/blog/" or vsnwscxxmumhwvawURL == "/blog/categories/" or vsnwscxxmumhwvawURL == "/blog/tags/" %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-book"></i> Blog</span>{% else %}<a {% if vsnwscxxmumhwvawURL contains "/blog/" %}class="vgfrrjjgwxeyajsk" {% endif %}href="{{ site.url }}/blog" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-book"></i> Blog</a>{% endif %}&nbsp;
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/blogroll/" %}<a href="{{ site.url }}/blogroll" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-list"></i> Blogroll</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-list"></i> Blogroll</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/contact/" %}<a href="{{ site.url }}/contact" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-address-book"></i> Contact</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-address-book"></i> Contact</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/donation/" %}<a href="{{ site.url }}/donation" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-money"></i> Donate</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-money"></i> Donate</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/freelance/" %}<a href="{{ site.url }}/freelance" rel="me" title="">Freelance</a>{% else %}<span style="color: rgb(143, 200, 71);">Freelance</span>{% endif %}&nbsp;
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/in-case-of-emergency/" %}<a href="{{ site.url }}/in-case-of-emergency" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-medkit"></i> In Case of Emergency</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-medkit"></i> In Case of Emergency</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/resume/" %}<a href="{{ site.url }}/resume" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-briefcase"></i> R&eacute;sum&eacute;</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-briefcase"></i> R&eacute;sum&eacute;</span>{% endif %}&nbsp;
  <!--/sse-->
  <!--sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/social/" %}<a href="{{ site.url }}/social" rel="me" title="">Socialize</a>{% else %}<span style="color: rgb(143, 200, 71);">Socialize</span>{% endif %}&nbsp;
  <!--/sse-->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/store/" %}<a href="{{ site.url | replace: 'https', 'http' }}/store" rel="me" style="white-space: nowrap;" title=""><i aria-hidden="true" class="fa fa-shopping-cart"></i> Store</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;"><i aria-hidden="true" class="fa fa-shopping-cart"></i> Store</span>{% endif %}&nbsp;
  <!-- &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/the-regimental-prayer/" %}<a href="{{ site.url }}/the-regimental-prayer" rel="me" style="white-space: nowrap;" title="">The Regimental Prayer</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;">The Regimental Prayer</span>{% endif %}&nbsp; -->
  &bull;&nbsp; {% if vsnwscxxmumhwvawURL != "/the-suck/" %}<a href="{{ site.url }}/the-suck" rel="me" style="white-space: nowrap;" title="">The Suck</a>{% else %}<span style="color: rgb(143, 200, 71); white-space: nowrap;">The Suck</span>{% endif %}
</span>
<p style="font-size: smaller;">
  &nbsp;
</p>
<form action="http://forces.army/search" id="cse-search-box">
  <div>
    <input name="cof" type="hidden" value="FORID:10" />
    <input name="cx" type="hidden" value="partner-pub-5610609758033195:2749203460" />
    <input name="ie" type="hidden" value="UTF-8" />
    <input name="q" size="55" type="text" />&nbsp;
    <input
      alt="Search" height="25" name="sa" src="{{ site.uri.assets }}/naked/images/search_47x25.png" style="border: 0px; vertical-align: middle;" type="image"
      value="Search" width="47" />
  </div>
</form>
<script src="https://www.google.ca/coop/cse/brand?form=cse-search-box&lang=en" type="text/javascript"></script>
