---
layout: default
---

<style>
  ul.pager {
    list-style: none;
    text-align: center;
  }
  ul.pager li {
    border: 1px solid black;
    display: inline;
    margin: 5px;
    padding: 10px;
  }
</style>

<div class="h-feed home">
  <div style="display: none;">
    <p class="p-name">{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title | default: site.github.repository_name }}</p>
    <a class="u-url" href="{{ site.url }}{{ page.url }}" rel="me">{{ site.url }}{{ page.url }}</a>
  </div>
  <p style="text-align: center;">
    Filter by:&nbsp;
    <span style="color: rgb(143, 200, 71);">All</span>&nbsp;
    &bull;&nbsp; <a href="{{ site.url }}/blog/categories" rel="me">Category</a>&nbsp;
    &bull;&nbsp; <a href="{{ site.url }}/blog/tags" rel="me">Tag</a>
  </p>
  {{ content }}
  <ul>
    {% for post in paginator.posts %}
    {% capture postDatePublished %}
    {{ post.date | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}
    {% endcapture %}
    {% capture postDateModified %}
    {{ post.dateModified | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}
    {% endcapture %}
    <li>
      <article class="h-entry">
        <div style="display: none;">
          <p class="p-name">{{ post.title | escape }}</p>
          <p class="u-uid">{{ post.url }}</p>
        </div>
        <p style="font-size: larger;">
          <a class="u-url" href="{{ site.url }}{{ post.url }}" rel="me">{{ post.title | escape }}</a>
        </p>
        <h6>
          <span style="float: right;">
            by <span class="p-author" style="font-size: larger; font-style: italic;">{{ post.author | default: site.author | escape }}</span>{% if post.comments %}<br />
            <a data-disqus-identifier="{{ post.url }}" href="{{ site.url }}{{ post.url }}#disqus_thread" rel="me"></a>{% endif %}
          </span>
          Published:&nbsp; <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y @ %T %Z" }}</time><br />
          Updated:&nbsp; {% if postDatePublished != postDateModified %}<time class="dt-updated" datetime="{{ post.dateModified | date_to_xmlschema }}">{{ post.dateModified | date: "%d %B %Y @ %T %Z" }}</time>{% else %}N/A{% endif %}
        </h6>
        <p class="p-summary">
          {{ post.excerpt | replace: '<p>', '' | replace: '</p>', '' }}
        </p>
      </article>
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}" rel="me">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}" rel="me">Older Posts &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  <p class="rss-subscribe">
    Subscribe <a href="{{ site.url }}/feed.xml">via RSS</a>.
  </p>
</div>
