---
layout: default
---

<style>
  ul.pager {
    list-style: none;
    text-align: center;
  }

  ul.pager li {
    border: 1px solid black;
    display: inline;
    margin: 5px;
    padding: 10px;
  }

  .selected {
    background-color: magenta;
  }
</style>
<div style="text-align: center;">
  <span style="font-size: larger;">
    Want the latest news on everything James?<br />
    You're in the right spot.
  </span><br />
  &nbsp;<br />
  &nbsp;
</div>
<div class="h-feed home">
  <div style="display: none;">
    <p class="p-name">
      {% if page.title %}{{ page.title }} :: {% endif %}{{ site.title | default: site.github.repository_name }}
    </p>
    <a class="u-url" href="{{ site.url }}{{ page.url }}" rel="me">{{ site.url }}{{ page.url }}</a>
  </div>
  <p style="text-align: center;">
    Filter the Things by:&nbsp;
    <span style="color: rgb(143, 200, 71);">All</span>&nbsp;
    &bull;&nbsp; <a href="{{ site.url }}/blog/categories" rel="me" title="">Category</a>&nbsp;
    &bull;&nbsp; <a href="{{ site.url }}/blog/tags" rel="me" title="">Tag</a>
  </p>
  <p>
    &nbsp;
  </p>
  <iframe
    allowtransparency="true" data-aa="453725" height="60" scrolling="no" src="//ad.a-ads.com/453725?size=468x60"
    style="border: none; display: block; margin-left: auto; margin-right: auto; padding: 0; overflow: hidden;" width="468"></iframe>
  <p>
    &nbsp;
  </p>
  {{ content }}
  <ul>
    {% for post in paginator.posts %}
    {% capture postAuthors %}{{ post.author | default: site.author }}{% endcapture %}
    {% capture postDatePublished %}{{ post.date | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
    {% capture postDateModified %}{{ post.last_modified_at | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
    {% assign postAuthor = site.data.authors[postAuthors] %}
    <li>
      <article class="h-entry">
        <div style="display: none;">
          <p class="p-name">
            {{ post.title | escape }}
          </p>
          <p class="u-uid">
            {{ post.url }}
          </p>
        </div>
        <span style="font-size: larger;"><a class="u-url" href="{{ site.url }}{{ post.url }}" rel="me">{{ post.title | escape }}</a></span>
        <h6>
          <span style="float: right;">
            by {% if postAuthor.hyperlink.uri %}<a {% if postAuthor.hyperlink.hcard %}class="h-card p-author" {% endif %}href="{{ postAuthor.hyperlink.uri }}" {% if postAuthors != "jwds" %}{% if postAuthor.hyperlink.hcard %}rel="author" {% endif %}target="_blank"{% else %}rel="author me"{% endif %} title="{{ postAuthor.hyperlink.title | escape }}">{% endif %}<span {% if postAuthor.hyperlink.hcard != true %}class="p-author" {% endif %}style="font-size: larger;">{{ postAuthor.name | escape }}</span>{% if postAuthor.hyperlink.uri %}</a>{% endif %}{% if post.comments %}<br />
            <a data-disqus-identifier="{{ post.url }}" href="{{ site.url }}{{ post.url }}#disqus_thread" rel="me" title=""></a>{% endif %}
          </span>
          Published:&nbsp; <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y @ %T %Z" }}</time><br />
          Updated:&nbsp; {% if postDatePublished != postDateModified %}<time class="dt-updated" datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date: "%d %B %Y @ %T %Z" }}</time>{% else %}N/A{% endif %}<br />
          Location:&nbsp; {% if post.location %}<span class="h-geo p-location"><data class="p-altitude" value="{{ post.location.altitude }}"></data><data class="p-latitude" value="{{ post.location.latitude }}"></data><data class="p-longitude" value="{{ post.location.longitude }}"></data><a href="{{ site.uri.googleMaps }}/{{ post.location.latitude }},{{ post.location.longitude }}" target="_blank" title="{{ post.location.latitude }}, {{ post.location.longitude }}">{{ post.location.text }}</a></span>{% else %}N/A{% endif %}
        </h6>
        <blockquote class="p-summary">
          {{ post.excerpt }}
        </blockquote>
        <div style="font-size: xx-small; text-align: right;">
          &nbsp;<br />
          <a href="{{ site.url }}{{ post.url }}" rel="me" title="">&hellip; Read More &hellip;</a><br />
          &nbsp;
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
  <p>
    &nbsp;
  </p>
  <iframe
    allowtransparency="true" data-aa="453725" height="60" scrolling="no" src="//ad.a-ads.com/453725?size=468x60"
    style="border: none; display: block; margin-left: auto; margin-right: auto; padding: 0; overflow: hidden;" width="468"></iframe>
  {% if paginator.total_pages > 1 %}
  <p>
    &nbsp;
  </p>
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ site.url }}{{ paginator.previous_page_path }}" rel="me" title="">&larr;&nbsp; Newer Things</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ site.url }}{{ paginator.next_page_path }}" rel="me" title="">Older Things&nbsp; &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  <p>
    &nbsp;
  </p>
  <p class="rss-subscribe">
    Subscribe <a href="{{ site.url }}/feed.xml" rel="me" title="">via RSS</a>.
  </p>
</div>
