---
layout: default
---

<style>
  ul.pager {
    list-style: none;
    text-align: center;
  }
  ul.pager li {
    border: 1px solid black;
    display: inline;
    margin: 5px;
    padding: 10px;
  }
</style>

<div class="home">
  <p style="text-align: center;">
    Filter by:&nbsp;
    All&nbsp;
    &bull;&nbsp; <a href="{{ site.github.url }}/blog/categories" rel="me">Category</a>&nbsp;
    &bull;&nbsp; <a href="{{ site.github.url }}/blog/tags" rel="me">Tag</a>
  </p>
  {{ content }}
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      {% if post.comments %}
      <span style="float: right;">
        <span style="font-size: larger;">&nbsp;</span><br />
        <span style="font-size: smaller;">
          <a data-disqus-identifier="{{ post.url }}" href="{{ site.github.url }}{{ post.url }}#disqus_thread" rel="me"></a>
        </span>
      </span>
      {% endif %}
      <span style="font-size: larger;"><a class="post-link" href="{{ site.github.url }}{{ post.url }}" rel="me">{{ post.title | escape }}</a></span><br />
      <span class="post-meta" style="font-size: smaller;">{{ post.date | date: "%d %B %Y @ %T %Z" }}</span>
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="me">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="me">Older Posts &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  <p class="rss-subscribe">
    Subscribe <a href="{{ site.github.url }}/feed.xml">via RSS</a>.
  </p>
</div>
