<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title | default: site.github.repository_name }}</title>
    <link href="{{ site.github.url }}/feed.xml" rel="alternate" title="{{ site.title }}" type="application/rss+xml" />
    {% if page.dcuufhdpekkzdymn %}
    <link href="https://www.androidfilehost.com/?w=profile&uid=24369303960683704" rel="me" />
    <link href="https://www.bountysource.com/people/48199" rel="me" />
    <link href="https://disqus.com/by/jwds1978" rel="me" />
    <link href="https://www.facebook.com/jwds1978" rel="me" />
    <link href="https://github.com/jwds1978" rel="me" />
    <link href="https://en.gravatar.com/jwds1978" rel="me" />
    <link href="https://www.reddit.com/user/stew3721" rel="me" />
    <link href="https://twitter.com/jwds1978" rel="me" />
    <link href="https://forum.xda-developers.com/member.php?referrerid=4491991" rel="me" />
    <link href="https://news.ycombinator.com/user?id=stew721" rel="me" />
    <link href="https://keybase.io/stew721" rel="me" />
    <link href="mailto:james.stewart@forces.army" rel="me" />
    <link href="mailto:stew721@eml.cc" rel="me" />
    <link href="mailto:innominate721@gmail.com" rel="me" />
    <link href="mailto:jamroar721@gmail.com" rel="me" />
    <link href="mailto:stewart.jwd@gmail.com" rel="me" />
    <link href="mailto:innominate721@outlook.com" rel="me" />
    <link href="mailto:stew721@outlook.com" rel="me" />
    <link href="sms:+16463403664" rel="me" />
    <link href="sms:+17055621887" rel="me" />
    <link href="http://forces.army" rel="openid.delegate" />
    <link href="https://indieauth.com/openid" rel="openid.server" />
    {% endif %}
    <link href="{{ site.github.url }}/sitemap.xml" rel="sitemap" />
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet" type="text/css" />
    {% if page.wdcyvdsgrmupffee %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    {% if page.pyeccyxfjhpjefnd %}
    <script src="{{ site.github.url }}/resources/js/mask-phone-numbers.js" ></script>
    {% endif %}
    <script src="{{ '/assets/js/respond.js' | relative_url }}" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <link href="{{ '/assets/css/ie.css' | relative_url }}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
  </head>
  <body>
    {% if site.show_downloads %}
    <div id="header">
      <nav>
        <li class="fork"><a href="{{ site.github.repository_url }}" rel="me">View On GitHub</a></li>
        <li class="downloads"><a href="{{ site.github.zip_url }}" rel="me">ZIP</a></li>
        <li class="downloads"><a href="{{ site.github.tar_url }}" rel="me">TAR</a></li>
        <li class="title">DOWNLOADS</li>
      </nav>
    </div><!-- end header -->
    {% endif %}
    <div class="wrapper">
      <section>
        <div id="title">
          <img alt="{{ site.title }}" height="75" src="{{ site.github.owner_gravatar_url }}" style="border: 0px; float: left; vertical-align: middle;" width="75" />
          <img alt="Dandelion Pied Lashes :: Dandelion is a little bit crazy. He is gaily piebald like a pony and he casts magical spells." height="75" src="{{ site.github.url }}/resources/images/angry-unicorn_075x075.png" style="border: 0px; float: right; vertical-align: middle;" width="75" />
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr />
          {% include navigation.htm %}
        </div>
        {{ content }}
        {% include footer.htm %}
      </section>
    </div>
    {% if page.comments %}
    <script async id="dsq-count-scr" src="//jwds.disqus.com/count.js"></script>
    {% endif %}
    {% if site.google_analytics %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    {% endif %}
  </body>
</html>
