---
avwavatpumnwpahj: true
layout: default
---

<h1>{{ page.title | escape }}</h1>
<h6>
  <span style="float: right;">
    by <span style="font-size: larger;"><em>{{ page.author | default: site.author | escape }}</em></span>
  </span>
  {{ page.date | date: "%d %B %Y" }}<br />
  {{ page.date | date: "%T %Z" }}
</h6>

{{ content }}

<p style="font-size: smaller;">
  Categories:
  {% for cat in page.categories %}
  &nbsp;<a href="{{ site.github.url }}/blog/categories/#{{ cat | slugify }}" rel="me">{{ cat }}</a>
  {% endfor %}
  <br />
  Tags:
  {% for tag in page.tags %}
  &nbsp;<a href="{{ site.github.url }}/blog/tags/#{{ tag | slugify }}" rel="me">{{ tag }}</a>
  {% endfor %}
</p>

{% include gpgc_comments.html post_title=page.title %}
