---
layout: default
---

{% capture pageAuthors %}{{ page.author | default: site.author }}{% endcapture %}
{% capture pageDatePublished %}{{ page.date | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% capture pageDateModified %}{{ page.last_modified_at | replace: '-0400', 'America/Toronto' | replace: '-0500', 'America/Toronto' }}{% endcapture %}
{% capture pageURI %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture pageWords %}{{ content | number_of_words }}{% endcapture %}
{% assign pageAuthor = site.data.authors[pageAuthors] %}

<img
  alt="" height="73" src="{{ site.uri.assets }}/naked/images/suck-my-words_482x073.png"
  style="border: 0px; display: block; margin-left: auto; margin-right: auto;" width="482" />
<p style="font-size: smaller;">
  &nbsp;
</p>
{% if page.adsDisplay != false %}
{% include adsense_responsive.htm %}
<p style="font-size: smaller;">
  &nbsp;
</p>
{% endif %}
<p style="font-size: smaller; text-align: center;">
  <i aria-hidden="true" class="fa fa-share"></i> Share to:&nbsp;
  <a
    href="mailto:?body={{ pageURI | url_param_escape }}&subject={{ page.title | url_param_escape }}" rel="external" style="white-space: nowrap;" target="_blank"
    title="">
    <i aria-hidden="true" class="fa fa-envelope"></i> E-mail
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://www.facebook.com/sharer.php?t={{ page.title | url_param_escape }}&u={{ pageURI | url_param_escape }}" rel="external"
    style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-facebook-official"></i> Facebook
  </a>
  &nbsp;&bull;&nbsp;
  <a href="https://plus.google.com/share?url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-google-plus-official"></i> Google+
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://linkedin.com/shareArticle?mini=true&title={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external"
    style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-linkedin"></i> LinkedIn
  </a>
  {% if page.image %}
  &nbsp;&bull;&nbsp;
  <a
    href="https://pinterest.com/pin/create/button/?description={{ page.title | url_param_escape }}&media={{ page.image.path | url_param_escape }}&url={{ pageURI | url_param_escape }}"
    rel="external" style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-pinterest"></i> Pinterest
  </a>
  {% endif %}
  &nbsp;&bull;&nbsp;
  <a
    href="https://reddit.com/submit?title={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;"
    target="_blank" title="">
    <i aria-hidden="true" class="fa fa-reddit-alien"></i> Reddit
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://twitter.com/share?text={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;"
    target="_blank" title="">
    <i aria-hidden="true" class="fa fa-twitter"></i> Twitter
  </a>
</p>
<p style="font-size: smaller;">
  &nbsp;
</p>
<article class="h-entry">
  <div style="display: none;">
    <p class="p-summary">
      {{ page.excerpt }}
    </p>
    <p class="u-uid">
      {{ page.url }}
    </p>
    <a class="u-url" href="{{ site.url }}{{ page.url }}" rel="me">{{ site.url }}{{ page.url }}</a>
  </div>
  <h1 class="p-name">
    {{ page.title | escape }}
  </h1>
  <h6>
    <span style="float: right;">
      {{ pageWords }} Word{% if pageWords != 1 %}s{% endif %}<br />
      by {% if pageAuthor.hyperlink.uri %}<a {% if pageAuthor.hyperlink.hcard %}class="h-card p-author" {% endif %}href="{{ pageAuthor.hyperlink.uri }}" {% if pageAuthors != "jwds" %}{% if pageAuthor.hyperlink.hcard %}rel="author external nofollow" {% endif %}target="_blank"{% else %}rel="author me"{% endif %} title="{{ pageAuthor.hyperlink.title | escape }}">{% endif %}<span {% if pageAuthor.hyperlink.hcard != true %}class="p-author" {% endif %}style="font-size: larger;">{{ pageAuthor.name | escape }}</span>{% if pageAuthor.hyperlink.uri %}</a>{% endif %}<br />
      {% if page.comments %}<a data-disqus-identifier="{{ page.disqusIdentifier }}" href="{{ site.url }}{{ page.url }}#disqus_thread" rel="me" title=""></a>{% endif %}
    </span>
    Published:&nbsp; <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B %Y @ %T %Z" }}</time><br />
    Updated:&nbsp; {% if pageDatePublished != pageDateModified %}<time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: "%d %B %Y @ %T %Z" }}</time>{% if page.modifiedReason and page.modifiedReason != blank %}&nbsp; <sup>{{ page.modifiedReason | escape }}</sup>{% endif %}{% else %}N/A{% endif %}<br />
    Location:&nbsp; {% if page.location %}<span class="h-geo p-location"><data class="p-altitude" value="{{ page.location.altitude }}"></data><data class="p-latitude" value="{{ page.location.latitude }}"></data><data class="p-longitude" value="{{ page.location.longitude }}"></data><a href="{{ site.uri.googleMaps }}/{{ page.location.latitude }},{{ page.location.longitude }}" rel="external" target="_blank" title="{{ page.location.latitude }}, {{ page.location.longitude }}">{{ page.location.text }}</a></span>{% else %}N/A{% endif %}
  </h6>
  <p style="font-size: smaller;">
    &nbsp;
  </p>
  <div class="e-content">
    {{ content }}
  </div>
  <p style="font-size: smaller;">
    &nbsp;<br />
    Categories:&nbsp;
    {% for cat in page.categories %}
    <a class="p-category" href="{{ site.url }}/blog/categories/#{{ cat | slugify }}" rel="me">{{ cat }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
    &nbsp;<br />
    Tags:&nbsp;
    {% for tag in page.tags %}
    <a class="p-category" href="{{ site.url }}/blog/tags/#{{ tag | slugify }}" rel="me">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  </p>
  {% if page.syndications %}
  <p style="font-size: smaller;">
    &nbsp;<br />
    Syndicated to:
    <ul style="-moz-columns: 3; -webkit-columns: 3; columns: 3; list-style-position: inside;">
      {% for syndication in page.syndications %}
      <li>
        <a class="u-syndication" href="{{ syndication.href }}" rel="external syndication" target="_blank"{% if syndication.title != blank %} title="{{ syndication.title }}"{% endif %}>{{ syndication.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  {% if page.citations %}
  <p style="font-size: smaller;">
    &nbsp;<br />
    References:
    <ol>
      {% for citation in page.citations %}
      <li class="h-cite"{% if citation.slug and citation.slug != blank %} id="cite-{{ citation.slug }}"{% endif %}>
        {% if citation.href and citation.href != blank %}<cite><a class="p-name u-url" href="{{ citation.href }}" {% unless citation.href contains site.tld %}rel="external nofollow" target="_blank" {% endunless %}title="{{ citation.name | escape }}">{% else %}<cite class="p-name">{% endif %}{{ citation.name | escape }}{% if citation.href and citation.href != blank %}</a>{% endif %}<cite><br />
        {% if citation.author and citation.author != blank %}<span class="p-author" style="float: right;">by {{ citation.author | escape }}</span>{% endif %}
        {% if citation.date.published and citation.date.published != blank %}Published:&nbsp; <time class="dt-published" datetime="{{ citation.date.published | date_to_xmlschema }}">{{ citation.date.published | date: "%d %B %Y @ %T %Z" }}</time><br />{% endif %}
        {% if citation.date.accessed and citation.date.accessed != blank %}Referenced:&nbsp; <time class="dt-accessed" datetime="{{ citation.date.accessed | date_to_xmlschema }}">{{ citation.date.accessed | date: "%d %B %Y @ %T %Z" }}</time><br />{% endif %}
      </li>
      {% endfor %}
    </ol>
  </p>
  {% endif %}
</article>
<p style="font-size: smaller;">
  &nbsp;
</p>
<p style="font-size: smaller; text-align: center;">
  <i aria-hidden="true" class="fa fa-share"></i> Share to:&nbsp;
  <a
    href="mailto:?body={{ pageURI | url_param_escape }}&subject={{ page.title | url_param_escape }}" rel="external" style="white-space: nowrap;" target="_blank"
    title="">
    <i aria-hidden="true" class="fa fa-envelope"></i> E-mail
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://www.facebook.com/sharer.php?t={{ page.title | url_param_escape }}&u={{ pageURI | url_param_escape }}" rel="external"
    style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-facebook-official"></i> Facebook
  </a>
  &nbsp;&bull;&nbsp;
  <a href="https://plus.google.com/share?url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-google-plus-official"></i> Google+
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://linkedin.com/shareArticle?mini=true&title={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external"
    style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-linkedin"></i> LinkedIn
  </a>
  {% if page.image %}
  &nbsp;&bull;&nbsp;
  <a
    href="https://pinterest.com/pin/create/button/?description={{ page.title | url_param_escape }}&media={{ page.image.path | url_param_escape }}&url={{ pageURI | url_param_escape }}"
    rel="external" style="white-space: nowrap;" target="_blank" title="">
    <i aria-hidden="true" class="fa fa-pinterest"></i> Pinterest
  </a>
  {% endif %}
  &nbsp;&bull;&nbsp;
  <a
    href="https://reddit.com/submit?title={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;"
    target="_blank" title="">
    <i aria-hidden="true" class="fa fa-reddit-alien"></i> Reddit
  </a>
  &nbsp;&bull;&nbsp;
  <a
    href="https://twitter.com/share?text={{ page.title | url_param_escape }}&url={{ pageURI | url_param_escape }}" rel="external" style="white-space: nowrap;"
    target="_blank" title="">
    <i aria-hidden="true" class="fa fa-twitter"></i> Twitter
  </a>
</p>
{% if page.adsDisplay != false %}
<p style="font-size: smaller;">
  &nbsp;
</p>
{% include adsense_responsive.htm %}
{% endif %}
{% if page.comments %}
<!--sse-->
<p style="font-size: smaller;">
  &nbsp;
</p>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.identifier = "{{ page.disqusIdentifier }}", this.page.title = "{{ page.title }}", this.page.url = "{{ site.url }}{{ page.url }}"
  };
  ! function () {
    var a = document,
      b = a.createElement("script");
    b.src = "https://jwds.disqus.com/embed.js", b.setAttribute("data-timestamp", +new Date), (a.head || a.body).appendChild(b)
  }();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="external nofollow" target="_blank">comments powered by Disqus</a>.
</noscript>
<!--/sse-->
{% endif %}
{% if page.adsDisplay != false %}
<p style="font-size: smaller;">
  &nbsp;
</p>
{% include adsense_responsive.htm %}
{% endif %}
<p style="font-size: smaller;">
  &nbsp;
</p>
