---
layout: default
---

<h1>{{ page.title | escape }}</h1>
<h6>
  <span style="float: right;">
    by <span style="font-size: larger;"><em>{{ page.author | default: site.author | escape }}</em></span>
  </span>
  {{ page.date | date: "%d %B %Y" }}<br />
  {{ page.date | date: "%T %Z" }}
</h6>

{{ content }}

<p style="font-size: smaller;">
  Categories:&nbsp;
  {% for cat in page.categories %}
  <a href="#{{ cat | slugify }}" rel="me">{{ cat }}</a>
  {% endfor %}
  <br />
  Tags:&nbsp;
  {% for tag in page.tags %}
  <a href="#{{ tag | slugify }}" rel="me">{{ tag }}</a>
  {% endfor %}
</p>
